.corpo{
    background-color:  #faa1b5;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

/* .form {
    background-color: red;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
} */

.form{
    height:100%;
    right: 100%;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
    flex-direction: column;
}
.formulario{    
    height: 100%;
    right: 100%;
    padding: 15px;
    border-radius: 3%;
    display: grid;
    justify-content: center;
    align-items: center;
}
