.body{
    display: flex;
    background-color:  #faa1b5;
}

.divForm{
    display: flex;
    right: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

.form{
    height:100%;
    right: 100%;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
}

.formulario{
    height: 100%;
    right: 100%;
    background-color: #faa1b5;
    padding: 15px;
    border-radius: 3%;
}

.botoes{
    color:  #FFEEF2;
}
