@import url("./root.css");

.body{
    background-color:  var(--background-color);
}

.divForm{
    display: flex;
    right: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.form{
    height:100%;
    right: 100%;
    display: flex;
    padding: 20px;
    border-radius: 8px;
    border: var(--border-table);
}

.formulario{
    height: 100%;
    right: 100%;
    border-radius: 3%;
}

#botoes{
    color: #FFEEF2;
    display: flex;
    justify-content: space-between;
    gap: 3px;
}
.botao{
    height:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-collor);
    color: var(--text-button);
}
