:root{
  /* ===== Colors ===== */
  --sidebar-color: #d8c3f4;
  --primary-color: #5f20b1;
  --primary-color-light: #ece1f9;
  --text-color: #020104;
  --background-color: #ece1f9;
  --border-table: 4px solid #5f20b1;
  --color-cabecalho: #d8c3f4;
  --button-collor: #5f20b1;
  --text-button: #ece1f9;

}

.body{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-light);
}

/* CAMPO DE FILTRO */

.filtro{
  height: 30%;
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content:space-around;
}

.busca{
  border-radius: 5%;
}



.tabela{
    color: var(--text-color);
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-light);
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
}

tbody{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cabecalho {
    background-color:  var(--color-cabecalho);
    display: flex;
    justify-content: center;
    border: var(--border-table);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
  }
  
tr.cabecalho th{
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #itensTabela {
    display: flex;
    justify-content: center;
    font-size: medium;
    border: var(--border-table);
    border-top: 2px;
    border-bottom: 2px;
    align-items: center;
  }

.botoes{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 2%;
  gap: 3%;
}

.paginacao{
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 100%;
  padding-top: 6px;
  border-bottom: var(--border-table);
  border-left: var(--border-table);
  border-right: var(--border-table);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:  var(--color-cabecalho);
}

.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5%;
  height: 100%;
  width: 100%;
  gap: 4%;
  color: black;
}

.botao{
  background-color: var(--button-collor);
  color: var(--color-cabecalho);
  border: none;
}

.tBot{
  width: 100px;
}



.content {
  margin-left: 200px;
  /* Deixa um espaço para a sidebar */
  transition: margin-left 0.3s ease;
}

.content.shifted {
  margin-left: 0;
  /* Desloca o conteúdo quando a classe 'shifted' é adicionada */
}