.body{
    display: flex;
    background-color:  #faa1b5;
}

.tabela{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    
    width: 100%;
    height: 100%;
    
}

tbody{
    width: 100%;
    height: 100%;
}

.cabecalho{
    background-color: #f77594;
    display: flex;
    justify-content: center;
    border: 4px solid rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    font-size: 100%;
    padding: 10px ;
}

.itensTabela{
    width: 100%;
    height: 100%;
}

td{
    padding-top: 10px;
    font-size: medium;
    width: 100%;
    display: flex;
    justify-content: center;
}

#itensTabela{
    display: flex;
    justify-content: center;
    font-size: medium;
    border: 4px solid rgb(255, 255, 255);
    border-top: 2px;
    border-bottom: 2px;
}